*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	background: rgb(239, 239, 239);
}

.App {
	width: 80%;
	margin: 0 auto;
	font-family: sans-serif;
	min-height: 100dvh;
	padding-top: 2rem;
}

.App > * + * {
	margin-top: 3rem;
}

.appTitle {
	font-size: 5rem;
	color: rgb(148, 0, 0);
}

.form {
	& h3 {
		margin: 0;
		font-size: 4rem;
	}

	& h4 {
		font-size: 2rem;
		width: 40%;
	}

	& span {
		font-weight: 400;
	}
}

.hobby {
	--bg: lightblue;
	--border-radius: 1rem;
	display: flex;
	justify-content: center;
	align-items: stretch;

	width: 50%;
	gap: 0.6rem;

	padding: 0.6rem;

	background: var(--bg);
	border: color-mix(in srgb, var(--bg) 90%, black) solid 2px;
	border-radius: var(--border-radius);

	.title {
		flex: 1;
		background-color: color-mix(in srgb, var(--bg) 93%, black);
		border-radius: var(--border-radius);
		font-size: 2rem;
		text-align: center;
		align-content: center;
		padding-inline: 2rem;
	}

	.content {
		position: relative;
		flex: 3;
		background-color: color-mix(in srgb, var(--bg) 93%, black);
		border-radius: var(--border-radius);
		font-size: 2rem;
		padding: 0.6rem 2rem;
	}
}

.online {
	font-size: 2rem;
	font-weight: 500;

	& span {
		font-weight: bold;
		color: green;
	}
}

.socials {
	display: flex;
	width:20%;

	border: solid rgb(47, 165, 36) 0.2rem;
	padding: 2rem;
	border-radius: 2rem;
	align-items: center;
	gap: 2rem;

	& img {
		width: 10rem;
		aspect-ratio: 1/1;
		border-radius: 999px;
	}
}

.socialsContent {
	& button {
		cursor: pointer;
		transition:
			scale 0.2s,
			box-shadow 0.2s;
		box-shadow: 0;

		&:hover {
			scale: 1.05;
			box-shadow: 0px 7px 23px -9px rgba(0, 0, 0, 0.55);
		}

		&[data-state="following"] {
			background-color: rgb(78, 197, 78);
			text-align: center;
			font-weight: bold;
			color: rgb(137, 236, 137);
		}
	}
}

/* 
*{
  outline: color-mix(in srgb, lime 90%, transparent )2px solid;
} */
